* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 1px solid tomato;
}


.top-section {
    background-color: #1F2937;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 80%;
    height: 100%;
}

.header {

}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

